
@{
    ViewBag.Title = "Basic VPOS - PayTR";
}

<div class="row">
    <div class="col-md-12">
        <h2>Basic VPOS</h2>
        <p>
            Test Basic VPOSes.
        </p>
    </div>
    <div class="col-md-12">
        @Html.Raw(ViewBag.POSForm)
    </div>
</div>