
@{
    ViewBag.Title = "VPOSSuccess";
}

<h2>VPOSSuccess</h2>

<div class="row">
    <div class="col-md-12">
        <h2>Basic VPOS</h2>
        <p>
            Test Basic VPOSes.
        </p>
    </div>
    <div class="col-md-12">
        @foreach (var item in Request.Form.AllKeys)
        {
            <p>@item: @Request.Form[item].ToString()</p>
        }
        @foreach (var item in Request.QueryString.AllKeys)
        {
            <p>@item: @Request.QueryString[item].ToString()</p>
        }
    </div>
</div>